<!DOCTYPE html>
<html lang="en">
    <%- include('../partial/head.ejs') %>

<body>
    <div id="wrapper">
        <%- include('../partial/header.ejs') %>
        <%- include('../partial/navigation.ejs') %>
        <main>
            <%- body %>
        </main>
        <%- include('../partial/footer.ejs') %>
    </div>
</body>
</html>